<app-navigationbar></app-navigationbar>
<div class="card-group mt-3">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tent1.png" alt="Card image cap">
      <!-- <div class="card-header">Lều loại 1</div> -->
      <div class="card-body">
        <h5 class="card-title">Lều loại 1 (500.000vnđ/đêm)</h5>
        <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tent2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lều loại 2 (600.000vnđ/đêm)</h5>
        <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tent3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lều loại 3 (700.000vnđ/đêm)</h5>
        <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <div class="card-group mt-3">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tent4.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lều loại 4 (800.000vnđ/đêm)</h5>
        <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tent5.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lều loại 5 (900.000vnđ/đêm)</h5>
        <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tent6.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lều loại 6 (1.000.000vnđ/đêm)</h5>
        <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<!-- <div class="col-lg-12 mt-3" style="display: inline-block;">
    <div class="card bg-light mb-3" style="max-width: 18rem;height: 200px;float: left;">
        <img class="card-img-top" src="../../assets/images/tent1.png" 
        alt="Leu 1">
        <div class="card-header">Lều loại 1</div>
        <div class="card-body">
          <h5 class="card-title">500.000vnđ/đêm</h5>
          <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        </div>
      </div>
      
      <div class="card bg-light mb-3" style="max-width: 18rem;height: 200px;float: left;">
        <img class="card-img-top" src="../../assets/images/tent2.png" alt="Leu 2">
        <div class="card-header">Lều loại 2</div>
        <div class="card-body">
          <h5 class="card-title">600.000vnđ/đêm</h5>
          <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 18rem;height: 200px;float: left;">
        <img class="card-img-top" src="../../assets/images/tent3.png" alt="Leu 3">
        <div class="card-header">Lều loại 3</div>
        <div class="card-body">
          <h5 class="card-title">700.000vnđ/đêm</h5>
          <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 18rem;float: left;">
        <img class="card-img-top" src="../../assets/images/tent4.png" alt="Leu 4">
        <div class="card-header">Lều loại 4</div>
        <div class="card-body">
          <h5 class="card-title">800.000vnđ/đêm</h5>
          <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 18rem;float: left;">
        <img class="card-img-top" src="../../assets/images/tent5.png" alt="Leu 5">
        <div class="card-header">Lều loại 5</div>
        <div class="card-body">
          <h5 class="card-title">900.000vnđ/đêm</h5>
          <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 18rem;float: left;">
        <img class="card-img-top" src="../../assets/images/tent6.png" alt="Leu 6">
        <div class="card-header">Lều loại 6</div>
        <div class="card-body">
          <h5 class="card-title">1.000.000vnđ/đêm</h5>
          <p class="card-text">thích hợp cho các bạn trẻ mới yêu, thích nghe nhạc, trải nghiêm không gian mới lạ, thông thoáng</p>
        </div>
      </div>
      
</div> -->



